<div class="screen-fade" *ngIf="showVideoModal" [@fadeInOut] (click)="closeVideo()"></div>

<div class="thumbnail" #thumbnail *ngIf="!showVideoModal">
  <img class="play-icon" src="/assets/icon-play-96.png" alt="Play Icon" (click)="openVideo()">
  <div class="fader"></div>
  <img class="thumbnail-image" [src]="thumbnailUrl" alt="">
</div>

<div class="video"
     *ngIf="showVideoModal"
     [@expandFromTo]="{ value: '', params: {
      startingPositionTop: animationParameters.startingPositionTop,
      startingPositionLeft: animationParameters.startingPositionLeft
      }}">
  <div class="close-button" (click)="closeVideo()">&times;</div>
  <iframe [src]="embedUrl"></iframe>
</div>
